_REPO/APRESS/dotnet-dev-for-java-programmers/Chapter08/ExampleHeaderWebServiceClient/Web_References/localhost/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.csharpwebservices.com/dummy " xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.csharpwebservices.com/dummy " xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.csharpwebservices.com/dummy ">
      <s:element name="SayHello">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="who" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SayHelloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SayHelloResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SimpleAuthenticationSoapHeader" type="s0:SimpleAuthenticationSoapHeader" />
      <s:complexType name="SimpleAuthenticationSoapHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </types>
  <message name="SayHelloSoapIn">
    <part name="parameters" element="s0:SayHello" />
  </message>
  <message name="SayHelloSoapOut">
    <part name="parameters" element="s0:SayHelloResponse" />
  </message>
  <message name="SayHelloSimpleAuthenticationSoapHeader">
    <part name="SimpleAuthenticationSoapHeader" element="s0:SimpleAuthenticationSoapHeader" />
  </message>
  <portType name="Service1Soap">
    <operation name="SayHello">
      <input message="s0:SayHelloSoapIn" />
      <output message="s0:SayHelloSoapOut" />
    </operation>
  </portType>
  <portType name="Service1HttpGet" />
  <portType name="Service1HttpPost" />
  <binding name="Service1Soap" type="s0:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="SayHello">
      <soap:operation soapAction="http://www.csharpwebservices.com/dummy /SayHello" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header d5p1:required="true" message="s0:SayHelloSimpleAuthenticationSoapHeader" part="SimpleAuthenticationSoapHeader" use="literal" xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="Service1HttpGet" type="s0:Service1HttpGet">
    <http:binding verb="GET" />
  </binding>
  <binding name="Service1HttpPost" type="s0:Service1HttpPost">
    <http:binding verb="POST" />
  </binding>
  <service name="Service1">
    <port name="Service1Soap" binding="s0:Service1Soap">
      <soap:address location="http://localhost/Book/Chapter8/ExampleHeaderWebService/Service1.asmx" />
    </port>
    <port name="Service1HttpGet" binding="s0:Service1HttpGet">
      <http:address location="http://localhost/Book/Chapter8/ExampleHeaderWebService/Service1.asmx" />
    </port>
    <port name="Service1HttpPost" binding="s0:Service1HttpPost">
      <http:address location="http://localhost/Book/Chapter8/ExampleHeaderWebService/Service1.asmx" />
    </port>
  </service>
</definitions>