_REPO/APRESS/xml-programming-using-msft-xml-parser/Chapter08/Magazine.xsd

<?xml version=”1.0”?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element name="Magazines" type="MagazineType"/>
   <xsd:complexType name="MagazineType">
      <xsd:sequence>
         <xsd:element name="Magazine" type="MagazineDetails" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="MagazineDetails">
      <xsd:sequence>
         <xsd:element name="Title" type="xsd:string"/>
         <xsd:element name="Publisher" type="xsd:string"/>
      </xsd:sequence>
      <xsd:attribute name="Price" type="xsd:float"/>
   </xsd:complexType>
</xsd:schema>
