_REPO/APRESS/xml-programming-using-msft-xml-parser/Chapter08/Magazine1.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<xsd:element name="Title" type="xsd:string"/>
<xsd:element name="Publisher" type="xsd:string"/>
<xsd:attribute name="Price" type="xsd:float"/>

<xsd:element name="Magazine">
   <xsd:complexType>
      <xsd:sequence>
         <xsd:element ref="Title"/>
         <xsd:element ref="Publisher"/>
      </xsd:sequence>
      <xsd:attribute ref="Price"/>
   </xsd:complexType>
</xsd:element>

<xsd:element name="Magazines">
   <xsd:complexType>
      <xsd:sequence>  
         <xsd:element ref="Magazine" minOccurs="0" maxOccurs="unbounded"/> 
      </xsd:sequence>  
   </xsd:complexType>
</xsd:element>

</xsd:schema>
