_REPO/APRESS/distributed-.net-programming-in-vb-.net/Chapter06/Employees/EmployeeClient/Web_References/localhost/EmpService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetEmployee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeeResult" type="s0:EmployeeData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EmployeeData" abstract="true">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SSN" type="s:string" />
        </s:sequence>
        <s:attribute name="Id" type="s:int" />
      </s:complexType>
      <s:complexType name="Boss">
        <s:complexContent mixed="false">
          <s:extension base="s0:EmployeeData">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Salary" type="s:double" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="WageEmployee">
        <s:complexContent mixed="false">
          <s:extension base="s0:EmployeeData">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Wage" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="Hours" type="s:double" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="ComputeEmployeePay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="emp" type="s0:EmployeeData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ComputeEmployeePayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ComputeEmployeePayResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllEmployees">
        <s:complexType />
      </s:element>
      <s:element name="GetAllEmployeesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllEmployeesResult" type="s0:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="EmployeeData" nillable="true" type="s0:EmployeeData" />
      <s:element name="ArrayOfAnyType" nillable="true" type="s0:ArrayOfAnyType" />
    </s:schema>
  </types>
  <message name="GetEmployeeSoapIn">
    <part name="parameters" element="s0:GetEmployee" />
  </message>
  <message name="GetEmployeeSoapOut">
    <part name="parameters" element="s0:GetEmployeeResponse" />
  </message>
  <message name="ComputeEmployeePaySoapIn">
    <part name="parameters" element="s0:ComputeEmployeePay" />
  </message>
  <message name="ComputeEmployeePaySoapOut">
    <part name="parameters" element="s0:ComputeEmployeePayResponse" />
  </message>
  <message name="GetAllEmployeesSoapIn">
    <part name="parameters" element="s0:GetAllEmployees" />
  </message>
  <message name="GetAllEmployeesSoapOut">
    <part name="parameters" element="s0:GetAllEmployeesResponse" />
  </message>
  <message name="GetEmployeeHttpGetIn">
    <part name="id" type="s:string" />
  </message>
  <message name="GetEmployeeHttpGetOut">
    <part name="Body" element="s0:EmployeeData" />
  </message>
  <message name="GetAllEmployeesHttpGetIn" />
  <message name="GetAllEmployeesHttpGetOut">
    <part name="Body" element="s0:ArrayOfAnyType" />
  </message>
  <message name="GetEmployeeHttpPostIn">
    <part name="id" type="s:string" />
  </message>
  <message name="GetEmployeeHttpPostOut">
    <part name="Body" element="s0:EmployeeData" />
  </message>
  <message name="GetAllEmployeesHttpPostIn" />
  <message name="GetAllEmployeesHttpPostOut">
    <part name="Body" element="s0:ArrayOfAnyType" />
  </message>
  <portType name="EmployeeServiceSoap">
    <operation name="GetEmployee">
      <input message="s0:GetEmployeeSoapIn" />
      <output message="s0:GetEmployeeSoapOut" />
    </operation>
    <operation name="ComputeEmployeePay">
      <input message="s0:ComputeEmployeePaySoapIn" />
      <output message="s0:ComputeEmployeePaySoapOut" />
    </operation>
    <operation name="GetAllEmployees">
      <input message="s0:GetAllEmployeesSoapIn" />
      <output message="s0:GetAllEmployeesSoapOut" />
    </operation>
  </portType>
  <portType name="EmployeeServiceHttpGet">
    <operation name="GetEmployee">
      <input message="s0:GetEmployeeHttpGetIn" />
      <output message="s0:GetEmployeeHttpGetOut" />
    </operation>
    <operation name="GetAllEmployees">
      <input message="s0:GetAllEmployeesHttpGetIn" />
      <output message="s0:GetAllEmployeesHttpGetOut" />
    </operation>
  </portType>
  <portType name="EmployeeServiceHttpPost">
    <operation name="GetEmployee">
      <input message="s0:GetEmployeeHttpPostIn" />
      <output message="s0:GetEmployeeHttpPostOut" />
    </operation>
    <operation name="GetAllEmployees">
      <input message="s0:GetAllEmployeesHttpPostIn" />
      <output message="s0:GetAllEmployeesHttpPostOut" />
    </operation>
  </portType>
  <binding name="EmployeeServiceSoap" type="s0:EmployeeServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetEmployee">
      <soap:operation soapAction="http://tempuri.org/GetEmployee" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ComputeEmployeePay">
      <soap:operation soapAction="http://tempuri.org/ComputeEmployeePay" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetAllEmployees">
      <soap:operation soapAction="http://tempuri.org/GetAllEmployees" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="EmployeeServiceHttpGet" type="s0:EmployeeServiceHttpGet">
    <http:binding verb="GET" />
    <operation name="GetEmployee">
      <http:operation location="/GetEmployee" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetAllEmployees">
      <http:operation location="/GetAllEmployees" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="EmployeeServiceHttpPost" type="s0:EmployeeServiceHttpPost">
    <http:binding verb="POST" />
    <operation name="GetEmployee">
      <http:operation location="/GetEmployee" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetAllEmployees">
      <http:operation location="/GetAllEmployees" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="EmployeeService">
    <port name="EmployeeServiceSoap" binding="s0:EmployeeServiceSoap">
      <soap:address location="http://localhost/Employees/EmpService.asmx" />
    </port>
    <port name="EmployeeServiceHttpGet" binding="s0:EmployeeServiceHttpGet">
      <http:address location="http://localhost/Employees/EmpService.asmx" />
    </port>
    <port name="EmployeeServiceHttpPost" binding="s0:EmployeeServiceHttpPost">
      <http:address location="http://localhost/Employees/EmpService.asmx" />
    </port>
  </service>
</definitions>